body{
    background-color: beige;
}
body h1{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

 body h2{
    display: flex;
    justify-content: center;
    align-items: center;
 }


.contenedor{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    display: flex;
    justify-content: center;
    align-items:center;
}
