.final{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(30,30,30);
    color: white;
}
 h2{
    font-size: 5vw;
}
button{
    font-size: 1.75em;
}